<settings>
    
    <setting propertyKey="@Properties.Theme" title="@Strings.ThemeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ThemeDark</listEntry>
            <listEntry value="1">@Strings.ThemeLight</listEntry>
        </settingConfig>
    </setting>

</settings>
